.obsidian/
.github/
.git/
node_modules/
*.db
*.sqlite
*.sqlite3
package-lock.json
worker.ts
*.log
database/
ivan-notes/
copilot/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
